<p>welcome to mongodb</p>
<div>
    <table>
    <tr>
      <th>name</th>
      <th>age</th> 
      <th>gender</th>
      <th>city</th>
    </tr>
    <tr>
      <td>himaja</td>
      <td>21</td>
      <td>female</td>
      <td>krishnagiri</td>
    </tr>
    <tr>
      <td>ayisha</td>
      <td>22</td>
      <td>female</td>
     <td>chennai</td>
    </tr>
    <tr>
      <td>mani</td>
      <td>23</td>
      <td>male</td>
      <td>hosur</td>
    </tr>
    <tr>
        <td>gouthami</td>
        <td>24</td>
        <td>female</td>
        <td>bangalore</td>
      </tr>
      <tr>
        <td>gopal</td>
        <td>21</td>
        <td>male</td>
        <td>bhopal</td>
      </tr>
    
    
  </table>
</div>