<p>welcome to mongodb</p>

<div>
    <table>
        <tr>
            <th>name</th>
            <th>age</th> 
            <th>gender</th>
            <th>city</th>
          </tr>
<%for(let i=0;i<length;i++){%>
     <tr>
      <td><%=result1[i].name%></td>
      <td><%=result1[i].age%></td>
      
      <td><%=result1[i].gender%></td>
      
      <td><%=result1[i].city%></td>
    </tr>
<%}%>
    </table>
    </div>